[hyoo_sync_watch_log] {
	flex-basis: 50rem;
	flex-grow: 1;
}

[hyoo_sync_watch_log_row] {
	box-shadow: 0 1px 0 var(--mol_theme_line);
	flex-wrap: wrap;
}

[hyoo_sync_watch_log_row_type_content] {
	font-family: monospace;
}

[hyoo_sync_watch_log_row_field_land] {
	font-family: monospace;
}
