
[hyoo_sync_watch_land_menu] {
	flex-basis: 20rem;
}

[hyoo_sync_watch_land_land_config] {
	flex-shrink: 1;
}

[hyoo_sync_watch_land_menu_tools] {
	flex-shrink: 0;
}

[hyoo_sync_watch_land_menu_title] {
	margin: var(--mol_gap_text);
	gap: var(--mol_gap_block);
}

[hyoo_sync_watch_land_land_id] {
	font-family: monospace;
}

[hyoo_sync_watch_land_menu_link] {
	gap: var(--mol_gap_block);
	font-family: monospace;
}

[hyoo_sync_watch_land_node_output_switch] {
	flex-shrink: 1;
}

[hyoo_sync_watch_land_node_dump] {
	padding: var(--mol_gap_text);
}

[hyoo_sync_watch_land_node] {
	flex-basis: 50rem;
	flex-grow: 1;
}

[hyoo_sync_watch_land_node_body] {
	padding: var(--mol_gap_block);
}

[hyoo_sync_watch_land_node_json] {
	padding: var(--mol_gap_text);
}

[hyoo_sync_watch_land_node_list] {
	padding: var(--mol_gap_text);
}
